---
# tasks file for openssh-server

- name: Main ansible_port
  ansible.builtin.debug:
    var: ansible_port

- name: Validate provided variables and set os dependent variables
  ansible.builtin.import_tasks: pretasks.yml

- name: Import tasks to configure SSH Server
  become: yes
  ansible.builtin.import_tasks: sshd.yml
